
.Services{
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   gap: 65px;
   
}
.Services p{
    color: #7D7D7D;
text-align: center;
font-size: 16px;
font-weight: 500;
line-height: 26px; 
max-width:255px;
margin-top: 10px;
}
.Services h1{
 color: var(--text-heading-color, #1E1D4C);
text-align: center;
font-size: 20px;
font-weight: 700;
margin-top: 10px;
}

.Services .s{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}


