.text-hero2{

color: #FFF;
font-family: 'Yesteryear', cursive;
font-size:7.5rem;
font-weight: 400;
position: absolute;
top:50%;
left: 50%;
transform: translate(-50%,-50%); 
text-transform: capitalize;
max-width: 688px;
min-width: 300px;
line-height: 223.678px;
text-align: center;
}
@media screen and (max-width:400px){
    .text-hero2  {font-size:5.5rem;}  
}
