.PCardTravel{padding:11.7130vh 5.2489vw;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(281px,1fr));
    grid-template-rows: repeat(2,1fr);
   gap:34px;
}
.CardTravel {border-radius: 3px;
background-color:#F5F3F3; padding:20px; }
.CardTravel img{width: 100%; border-radius: 5px;}
.tr1{
     padding: 10.5px 0px;
    display: flex;
    background-color: #DF6951;
    border-radius:0 0 5px 5px;
    justify-content: space-around;
    position: relative;
    top: -8px;
    color: #F5F3F3;
    font-size: 12.974px;
    font-weight: 500;
}
.CardTravel h1{
    color: #181E4B;
font-size: 22px;
font-weight: 700;
margin-top: 15px;
}
#trvelText{
    color: #181E4B;
font-size: 14px;
font-weight: 400;
margin-top: 10px;

}
.star1{
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.star1 img{
    width: 13.205px;
height: 13px;
margin-left: 40px;
}
.star1 p{
    color: #262626;

font-size: 16px;

font-weight: 500;
}
@media screen and (max-width:400px){
    .PCardTravel{
    
        grid-template-columns: repeat(auto-fill,minmax(270px,1fr));
    }
   
      
}